<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a> </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"> <img class="img-responsive" src="https://scontent-atl3-1.xx.fbcdn.net/t31.0-8/12185496_1109646452380175_3393116066484753608_o.jpg"> </div>
        <div class="col-md-6">
            <h2>Welcome to the ACM student chapter at Bloomsburg University of Pennsylvania!</h2>
            <p>Join us to hang out, participate in hands-on workshops, internship oppurtunities, tutoring, projects, and more! You can also join our programming competition team which travel up and down the east coast to compete in competitions against top schools. </p>
            <p>If you enjoy doing things with computers, consider the ACM club! We're an open group, not just for C.S. majors but for anyone interested.</p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2> </div>
        <div class="col-sm-4"> <img class="img-responsive" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/1526682_947043261973829_3277879219877086461_n.jpg?oh=e1feb5682b1e59dc88c99e71d5197f66&oe=57F3D227">
            <h3>Dr. Robert Montante
                <small>Advisor</small>
            </h3>
            <p>The one and only Bobmon.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a> </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/robert-montante-1a844933" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a> </li>
            </ul>
        </div>
        <div class="col-sm-4"> <img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/13962745_10207812003432427_7269643778452246082_n.jpg?oh=e80354d59b7ac9f9f568746b440f206e&oe=58510DE8">
            <h3>Brian Fekete
                <small>President</small>
            </h3>
            <p>Senior whom is expected to graduate in May of 2017 with a B.S. in Computer Science.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/fekete4" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a> </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/brianfekete" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a> </li>
            </ul>
        </div>
        <div class="col-sm-4"> <img class="img-responsive" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/12592620_959504317431792_6600699480929307570_n.jpg?oh=caafa4142661e0718e520e77dbb617ad&oe=57EA4946">
            <h3>Jake Daniel
                <small>Vice President</small>
            </h3>
            <p>Senior whom is expected to graduate in May of 2017 with a B.S. in Computer Science..</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/jake.daniel.54" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a> </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/jacob-daniel-87632110b" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a> </li>
            </ul>
        </div>
        <div class="col-sm-4"> <img class="img-responsive" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/12243181_10153381652381843_7086348699182497504_n.jpg?oh=77bffb5a919e0c210c6acea7cdaddc39&oe=5834A733">
            <h3>Brett Logan
                <small>Secretary</small>
            </h3>
            <p>Senior citizen whom is expected to graduate in December of 2017 with a B.S. in Computer Science.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/brett.logan.338" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a> </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/brett-logan-50632364" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a> </li>
            </ul>
        </div>
        <div class="col-sm-4"> <img class="img-responsive" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/13428503_1375551699127840_3088492275987879056_n.jpg?oh=6ec69ecdb765b5cb7d2c384e4f7afabd&oe=5821B20A">
            <h3>Rio Weber
                <small>Treasurer</small>
            </h3>
            <p>Full stack developer! Digital Forensics major.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/rio.weber.9" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a> </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/rio-weber-3a299253" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a> </li>
            </ul>
        </div>
        <div class="col-sm-4"> <img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/13895031_1745298515719404_5275429610220917736_n.jpg?oh=6bdb3b56c4306183cf85a1c2f86467b5&oe=585869D0">
            <h3>Courtney Pachucki
                <small>Web Master</small>
            </h3>
            <p>Pursuing a B.S. in Computer Science. Dankest of dank bios.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/profile.php?id=100007178178858" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a> </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/courtney-pachucki-8235119b" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a> </li>
            </ul>
        </div>
    </div>
</div>
<!-- /.container -->
