<!--Carousel for front page Jpd-->


<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Bloomsburg University ACM Club</h1>
                <p>Association for Computing Machinery</p>
                <hr> 
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class ="container">
<div class ="col-sm-6"><img class="img-responsive" src="../pictures/image.jpg" alt="..." style="max-height:350px; width:100%"></div>
<div class ="col-sm-6"><img class="img-responsive" src="../pictures/BFH.jpg" alt="..." style="max-height:350px; width:100%"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class = "text-center">News</h2>
                <ul>
                    <li>New ACM Officers
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">Upcoming Events</h2>
                <ul>
                    <li>9/6 First ACM Meeting 7:00 PM 
                        <ul>
                            <li>
                               Introduction To ACM
                            </li>
                            <li>
                              Meet The Officers
                            </li>
                            <li>
                              Discuss Future Events 
                            </li>
                        </ul>
                    </li>
                    <li>9/8 First Programming Competition Team Meeting 7:00 PM 
                        <ul>
                            <li>
                               Introduction To Programming Competitions
                            </li>
                            <li>
                              Meet The Members
                            </li>
                            <li>
                              Demonstration
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-sm-3">
                <h2 class="text-center">Around the Web</h2>
                <ul>
                    <li>ACM's Social Media
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/groups/1657647587884759/"><i class="fa fa-facebook-official fa-2x"></i> Facebook</a></li>
                            <li><a href="https://www.linkedin.com/groups/8569045"><i class="fa fa-linkedin-square fa-2x"></i> Linkedin</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>