<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Teams
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a> </li>
                <li class="active">Teams</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Programming Practice</h3> <a href="https://drive.google.com/file/d/0B6L-_EIDdGxWVG56ZTFQUnFjUlU/view?usp=sharing">CCSCE 2015</a>
            <br> <a href="https://drive.google.com/open?id=0B6L-_EIDdGxWbl8tYzJxZzhTWW8">PACISE 2015</a>
            <br> <a href="https://drive.google.com/open?id=0B6L-_EIDdGxWRnE1UzBYUWVEekU">Bucknell 2015 Expert</a>
            <br> <a href="https://drive.google.com/open?id=0B6L-_EIDdGxWMm9OS3ZoMU9fZVk">Bucknell 2014 Expert</a>
            <br> </div>
        <div class="col-sm-4">
            <h3>Have only a little experience?</h3> <a href="http://department.bloomu.edu/mathcompscistats/Contest/">BloomU High School Contest</a>
            <br> <a href="https://drive.google.com/open?id=0B6L-_EIDdGxWYWFBZlRnaHZOQlU">Bucknell 2015 Novice</a> </div>
        <div class="col-sm-4">
            <h3>Github</h3> <a href="https://github.com/BloomsburgACM/ProgrammingCompetitionPractice">Practice Problems</a> </div>
    </div>
</div>
<!-- /.container -->